<div
  class="mx-auto flex w-full grow flex-col border-border/40 min-[1800px]:max-w-[1536px] min-[1800px]:border-x dark:border-border">
  <header
    class="sticky top-0 z-50 w-full border-b border-border/40 bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60 dark:border-border">
    <div class="flex h-14 items-center px-4">
      <div class="mr-4 hidden md:flex">
        <a class="mr-4 flex items-center gap-2 lg:mr-6" href="/">
          <hlm-icon name="lucideFingerprint" />
          <span class="hidden font-bold md:inline-block">{{ appName }}</span></a
        >
        <!-- <nav class="flex items-center gap-4 text-sm xl:gap-6">
          <a class="text-foreground/80 transition-colors hover:text-foreground/80" href="/docs">Docs</a>
        </nav> -->
      </div>
      <div class="flex flex-1 items-center justify-between gap-2 md:justify-end">
        <div class="w-full flex-1 md:w-auto md:flex-none">
          <input class="w-full sm:pr-12 md:w-80" hlmInput placeholder="Search" type="search" />
        </div>
        <nav class="flex items-center gap-1">
          <button hlmBtn variant="ghost">
            <hlm-icon size="sm" name="lucideGithub" />
            <span class="sr-only">GitHub</span>
          </button>
          <!-- <button hlmBtn variant="ghost">
            <hlm-icon class="hidden dark:block" size="sm" name="lucideSun" />
            <hlm-icon class="dark:hidden" size="sm" name="lucideMoon" />
            <span class="sr-only">Toggle theme</span>
          </button> -->
          <app-user-menu />
        </nav>
      </div>
    </div>
  </header>
  <main class="flex flex-1 flex-col space-y-4 p-8 pt-6">
    <div class="flex items-center justify-between gap-4">
      <h2 class="text-3xl font-bold tracking-tight">Dashboard</h2>
      <app-create-secret />
    </div>
    <app-secret-list />
  </main>
  <footer class="bg-blur-lg grid border-t border-border bg-background/95 px-4 py-4">
    <img class="h-5 justify-self-end dark:hidden" alt="100% on-chain" src="fully-on-chain-dark.svg" />
    <img class="hidden h-5 justify-self-end dark:visible" alt="100% on-chain" src="fully-on-chain-white.svg" />
  </footer>
</div>
