@let item = data();
<section hlmCard class="transition-shadow hover:shadow-md">
  <div hlmCardHeader class="grid grid-cols-[1fr_auto] grid-rows-2 gap-1 space-y-0 p-4">
    <h3 hlmCardTitle>{{ item.name }}</h3>
    <!-- <p hlmCardDescription>{{ item.user }}</p> -->
    <button
      hlmBtn
      class="col-start-2 row-span-2 row-start-1"
      size="icon"
      variant="ghost"
      aria-describedby="Actions menu"
      [brnMenuTriggerFor]="menu">
      <hlm-icon size="sm" name="lucideEllipsis" />
    </button>
  </div>
  <div hlmCardContent class="flex items-center gap-4 p-4 pt-0">
    <h3 class="font-mono text-3xl font-bold">123456</h3>
    <app-copy-to-clipboard content="123456" />
  </div>
  <div hlmCardFooter class="justify-between p-4 pt-0">
    <div class="flex w-full flex-col gap-2">
      <p hlmMuted>Your token expires in: <span class="font-semibold">10s</span></p>
      <brn-progress hlmProgress class="h-1.5 w-full" aria-labelledby="loading" [value]="75">
        <brn-progress-indicator hlmProgressIndicator />
      </brn-progress>
    </div>
  </div>
</section>
<ng-template #menu>
  <hlm-menu class="w-56">
    <button hlmMenuItem>
      <hlm-icon name="lucideView" hlmMenuIcon />
      <span>View</span>
    </button>

    <button hlmMenuItem (triggered)="openEditDialog()">
      <hlm-icon name="lucidePen" hlmMenuIcon />
      <span>Edit</span>
    </button>

    <hlm-menu-separator />

    <button hlmMenuItem (triggered)="openDeleteDialog()">
      <hlm-icon name="lucideTrash" hlmMenuIcon />
      <span>Delete</span>
    </button>
  </hlm-menu>
</ng-template>
